body {
  margin-top: 40px;
  width: 13500px;
  height: 100px;
  /*background-color: #111;*/
  background-color: black;
  font-size: 14px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  /*overflow:hidden;*/
  /*-webkit-overflow-scrolling:touch;*/
}

.centered-text {
    text-align:center
}

.thumbnail {
    background: #fff;
  }

.fancybox-thumb {
    width: 75px;
    height: 75px;
}


/*.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0px;
  z-index: 1030;
  margin-bottom: 200px;
  margin-top: 30px;
  min-height: 200px;
}*/

/*div, p, a, li, td { -webkit-text-size-adjust:none; }
*/

/*.navbar .container { min-height: 83px; }*/



/*@media (min-width: $navbarCollapseWidth + 1) {
  .nav-collapse.collapse {
      height: auto !important;
      overflow: visible !important;
  }
}*/

.star {
  background: url('../img/star2013.png') no-repeat;
  background-size: 250px;
  position: fixed;
  width: 100%;
  height: 40px;
  margin-top: 0px;
  margin-left: 10px;
  z-index: 99;
}

/*.borderbanner {
  background: url('../img/wavetop.png') top left repeat-x;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top:0px;
  margin-left: 0px;
  z-index: 10000;
}


.borderbannerbottom {
  background: url('../img/wavebottom.png') top left repeat-x;
  position: fixed;
  top: 1010px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}*/

.navbar .brand, .navbar .nav > li > a {
text-shadow: none;
color: #C0C0C0;
}

.navbar .brand, .navbar .nav > li > a:hover{
text-shadow: none;
color: #fff;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #8CBFF7;
  background-color: inherit;
  text-shadow: none;
}

/*white borders

/*body{
  background-color: white;
}
.borderbanner {
  background: url('../img/wavetopwhite.png') top left repeat-x;
}
.borderbannerbottom {
  background: url('../img/wavebottomwhite.png') top left repeat-x;
}*/

@font-face {
    font-family: 'melany_laneregular';
    src: url('../fonts/melanylane-webfont.eot');
    src: url('../fonts/melanylane-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/melanylane-webfont.woff') format('woff'),
         url('../fonts/melanylane-webfont.ttf') format('truetype'),
         url('../fonts/melanylane-webfont.svg#melany_laneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.navbar .brand {
  font-family: 'melany_laneregular';
  text-align: center;
  font-size: 30px;
}

.container {
  margin-right: auto;
  margin-left: 100px;
}

.navbar-fixed-top{
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          z-index: 100;
}


 .navbar {
    font-family: 'Maiden Orange', Georgia, serif;
    font-size: 1.2em;
    background: black;
  }

.navcontainer {
  margin-left: 50px;
}

  h1, h2, h3 {
    font-weight: normal;
    line-height: 1em
  }

  h1 {
    font-family: 'melany_laneregular', Georgia, serif;
    font-size: 5em;
    color: white;
    /*margin-left: 20px;*/
  }




  h2 {
    font-family: 'Maiden Orange', Georgia, serif;
    font-size: 2em;
    /*color: #8CBFF7;*/
  }

 h3 {
    font-family: 'Maiden Orange', Georgia, serif;
    font-size: 1.5em;
    /*color: #8CBFF7;*/
  }


  a {
    color: #8CBFF7;
  }


.page {
    float: left;
    display: block;
    height: 1000px;
    width: 2000px;
    position: relative;
  }

  .narrowpage {
    float: left;
    display: block;
    height: 1000px;
    width: 1000px;
    position: relative;
  }

.pageinner {
  position: absolute;
  width: 940px;
  margin-left: 50px;
  margin-top: 80px;
  margin-bottom: auto;
  margin-right: auto;
  z-index: 10;
}

.narrowpageinner {
  width: 940px;
  margin-left: 50px;
  margin-top: 80px;
  margin-bottom: auto;
  margin-right: auto;
}

  @media (max-width: 788px) {
    .pageinner {
      margin-top: 50px;
      margin-left: 25px;
    }
    h1 {
      font-size: 3em;
    }

    .navbar .nav > li > a {
      padding: 5px 10px 5px;
    }

   }

  @media (max-width: 609px) {
    .pageinner {
      /*margin-top: 75px;*/
      margin-left: 15px;
    }
    h1 {
      font-size: 3em;
    }

    .navbar {
    font-family: 'Maiden Orange', Georgia, serif;
    font-size: 0.8em;
    background: black;
    line-height: 1em;
    }

    .navbar {
    font-family: 'Maiden Orange', Georgia, serif;
    font-size: 0.9em;
    background: black;
    line-height: 1em;
    }

    .navbar .nav > li > a {
      padding: 0px 5px 5px 5px;
    }

    .navcontainer {
    margin-left: 10px;
    }

    .star {
      background: none;
    }

  }



#home {
  background: url('../img/ship.jpg') bottom left  no-repeat;
  z-index: 50;
}

#home h2 {
  color: #218099;
}

.homecontent {
  margin-left: 450px ;
  margin-top: 150px;
}

#sched {
  background: url('../img/light.jpg') bottom left  no-repeat;

}
#sched .pageinner {
  width: 1280px;
}
.schedcontent {
  margin-left: 650px ;
  margin-top: -20px;
  position: absolute;
  z-index: 5;
 }
#sched h1, #sched h2, #sched h3, #sched p {
 color: #fff;
}
#lighthouse {
  position: absolute;
  background: url('../img/lighthouse.png') bottom left  no-repeat;
  top: 0;
  bottom: 0;
  width: 2000px;
  height: 1000px;
  z-index: 3;
}


* {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
.animate * {
  -webkit-animation-play-state: running !important;
  -moz-animation-play-state: running !important;
  animation-play-state: running !important;
}

#sched p {
 color: #fff;
 margin-left: 20px;
}


#rsvp {
  background: url('../img/tile.png') bottom left repeat;
}



#about {
  background: url('../img/boats.jpg') bottom left  no-repeat;
  width: 2000px;
}

#about .pageinner {
  width: 1280px;
}


#gettinghere {
  background: url('../img/waves.jpg') bottom left  no-repeat;
  color: #333;
}
#accommodations {
  background: url('../img/trurowed.jpg') bottom left  no-repeat;
}

#faq {
  background: url('../img/tile.png') bottom left repeat;
}

#faq h1, #rsvp h1 {
 color: #6C4D4D;
}

#faq h2, #rsvp h2 {
 color: #46BDF7;
}


#photos {
  background: url('../img/rhinos.jpg') bottom left  no-repeat;;
}

#registry {
  /*background: url('../img/plane.jpg') bottom left  no-repeat;;*/
  background: url('../img/tile.png') bottom left repeat;
  width: 500px;
}

#registry h1 {
 color: #6C4D4D;

}

#registry h2 {
 color: #46BDF7;
}

/*#######################*/

#stars,
#stars-2,
#small-stars,
#small-stars-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin: -300px 0 0 -300px;
  background: url(../img/anim/stars-large.png) no-repeat center center;
  -webkit-animation-name: starsLarge;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: starsLarge;
  -moz-animation-duration: 60s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  animation-name: starsLarge;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
    opacity: .2;
  z-index: 1;
  }

@-webkit-keyframes starsLarge {
  from {
    -webkit-transform: rotate(0deg) scale(3);
    opacity: .1;
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
    opacity: .05;
  }
  to {
    -webkit-transform: rotate(359deg) scale(3);
    opacity: .1;
  }
}
@-moz-keyframes starsLarge {
  from {
    -moz-transform: rotate(0deg) scale(3);
    opacity: .1;
  }
  50% {
    -moz-transform: rotate(180deg) scale(1.5);
    opacity: .05;
  }
  to {
    -moz-transform: rotate(359deg) scale(3);
    opacity: .1;
  }
}
@keyframes starsLarge {
  from {
    transform: rotate(0deg) scale(3);
    opacity: .1;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    opacity: .05;
  }
  to {
    transform: rotate(359deg) scale(3);
    opacity: .1;
  }
}

#stars-2 {
  -webkit-animation-name: starsLargeAlt;
  -webkit-animation-duration: 45s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: starsLargeAlt;
  -moz-animation-duration: 45s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  animation-name: starsLargeAlt;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes starsLargeAlt {
  from {
    -webkit-transform: rotate(180deg) scale(3);
    opacity: .25;
  }
  to {
    -webkit-transform: rotate(360deg) scale(.5);
    opacity: 0;
  }
}
@-moz-keyframes starsLargeAlt {
  from {
    -moz-transform: rotate(180deg) scale(3);
    opacity: .25;
  }
  to {
    -moz-transform: rotate(360deg) scale(.5);
    opacity: 0;
  }
}
@keyframes starsLargeAlt {
  from {
    transform: rotate(180deg) scale(3);
    opacity: .25;
  }
  to {
    transform: rotate(360deg) scale(.5);
    opacity: 0;
  }
}

#small-stars,
#small-stars-2 {
  background: url(../img/anim/stars-small.png) no-repeat center center;
  -webkit-animation-duration: 20s;
  -webkit-animation-name: starsSmall;

  -moz-animation-duration: 20s;
  -moz-animation-name: starsSmall;

  animation-duration: 20s;
  animation-name: starsSmall;
}

#small-stars-2 {
  -webkit-animation-name: starsSmallAlt;
  -webkit-animation-duration: 30s;

  -moz-animation-name: starsSmallAlt;
  -moz-animation-duration: 30s;

  animation-name: starsSmallAlt;
  animation-duration: 30s;
}

@-webkit-keyframes starsSmall {
  from {
    -webkit-transform: rotate(0) scale(3);
    opacity: .25;
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
    opacity: .1;
  }
  100% {
    -webkit-transform: rotate(359deg) scale(3);
    opacity: .25;
  }
}
@-webkit-keyframes starsSmallAlt {
  from {
    -webkit-transform: rotate(0deg) scale(3);
    opacity: .1;
  }
  to {
    -webkit-transform: rotate(360deg) scale(.5);
    opacity: 0;
  }
}

@-moz-keyframes starsSmall {
  from {
    -moz-transform: rotate(0) scale(3);
    opacity: .25;
  }
  50% {
    -moz-transform: rotate(180deg) scale(1);
    opacity: .1;
  }
  100% {
    -moz-transform: rotate(359deg) scale(3);
    opacity: .25;
  }
}
@-moz-keyframes starsSmallAlt {
  from {
    -moz-transform: rotate(0deg) scale(3);
    opacity: .1;
  }
  to {
    -moz-transform: rotate(360deg) scale(.5);
    opacity: 0;
  }
}

@keyframes starsSmall {
  from {
    transform: rotate(0) scale(3);
    opacity: .25;
  }
  50% {
    transform: rotate(180deg) scale(1);
    opacity: .1;
  }
  100% {
    transform: rotate(359deg) scale(3);
    opacity: .25;
  }
}
@keyframes starsSmallAlt {
  from {
    transform: rotate(0deg) scale(3);
    opacity: .1;
  }
  to {
    transform: rotate(360deg) scale(.5);
    opacity: 0;
  }
}


#spot {
  position: absolute;
  top: 155px;
  left: 280px;
  width: 200px;
  height: 200px;
  background: url(../img/anim/spot.png) no-repeat center center;
  opacity: 0.0;
  -webkit-animation: lightAnimation 20s ease-in-out infinite;
  -moz-animation: lightAnimation 20s ease-in-out infinite;
  animation: lightAnimation 20s ease-in-out infinite;
  z-index:4;
}

@-webkit-keyframes lightAnimation {
  0% {
    -webkit-transform: scale(4);
    opacity: 0.0;
  }
  24% {
    -webkit-transform: scale(5);
    opacity: 0.2;
  }
  25% {
    -webkit-transform: scale(15);
    opacity: 0.9;
    z-index:4;
  }
  26% {
    -webkit-transform: scale(5);
    opacity: 0.2;
  }
  50% {
    opacity: 0.0;
  }
  75% {
    z-index: 2;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(4);
    opacity: 0.0;
  }
}
@-moz-keyframes lightAnimation {
  0% {
    -moz-transform: scale(4);
    opacity: 0.0;
  }
  24% {
    -moz-transform: scale(5);
    opacity: 0.2;
  }
  25% {
    -moz-transform: scale(15);
    opacity: 0.9;
    z-index:4;
  }
  26% {
    -moz-transform: scale(5);
    opacity: 0.2;
  }
  50% {
    opacity: 0.0;
  }
  75% {
    z-index: 2;
    opacity: 0.2;
  }
  100% {
    -moz-transform: scale(4);
    opacity: 0.0;
  }
}
@keyframes lightAnimation {
  0% {
    transform: scale(4);
    opacity: 0.0;
  }
  24% {
    transform: scale(5);
    opacity:  .2;
  }
  25% {
    transform: scale(15);
    opacity: 0.9;
    z-index:4;
  }
  26% {
    transform: scale(5);
    opacity: 0.2;
  }
  50% {
    opacity: 0.0;
  }
  75% {
    z-index: 2;
    opacity: 0.2;
  }
  100% {
    transform: scale(4);
    opacity: 0.0;
  }
}

#spot2 {
  position: absolute;
  top: 100px;
  left: 1000px;
  width: 400px;
  height: 400px;
  background: url(../img/anim/spot2.png) no-repeat center center;
  background-size:100% auto;
  opacity: .05;
  -webkit-animation: spotAnimation 20s ease-in-out infinite;
  -moz-animation: spotAnimation 20s ease-in-out infinite;
  animation: spotAnimation 20s ease-in-out infinite;
  z-index:4;
}

@-webkit-keyframes spotAnimation {
  0% {
    opacity: 0.05;
  }
  20% {
    opacity: 0.10;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    left: -700px;
    opacity: 0.3;
  }
  75% {
    opacity: 0.2;
    z-index: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.05;
    z-index:4;
  }
}
@-moz-keyframes spotAnimation {
  0% {
    opacity: 0.05;
  }
  20% {
    opacity: 0.10;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    left: -700px;
    opacity: 0.3;
  }
  75% {
    opacity: 0.2;
    z-index: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.05;
    z-index:4;
  }
}
@keyframes spotAnimation {
  0% {
    opacity: 0.05;
  }
  20% {
    opacity: 0.10;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    left: -700px;
    opacity: 0.3;
  }
  75% {
    opacity: 0.2;
    z-index: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.05;
    z-index:4;
  }
}


#light {
  position: absolute; top: 30px; left: 400px;
  background: url(../img/anim/beam.png) no-repeat;
  width: 1000px;
  height: 500px;
  background-size: 100%;
  opacity: .1;
  -webkit-animation: light 20s ease-in-out infinite;
  -moz-animation: light 20s ease-in-out infinite;
  animation: light 20s ease-in-out infinite;
  z-index:4;
}

@-webkit-keyframes light {
  0%  {z-index:4;opacity:0.05;}
  25%   {z-index:4;opacity:0.4;}
  50%   {-webkit-transform: scaleX(-1); left:-650px;opacity:0.1;}
  75%   {z-index:2;opacity:0.2}
  85%   {opacity:0.1}
  100%  {z-index:4;opacity:0.05;}
}
@-moz-keyframes light {
  0%  {z-index:4;opacity:0.05;}
  25%   {z-index:4;opacity:0.4;}
  50%   {-moz-transform: scaleX(-1); left:-650px;opacity:0.1;}
  75%   {z-index:2;opacity:0.2}
  85%   {opacity:0.1}
  100%  {z-index:4;opacity:0.05;}
}
@keyframes light {
  0%  {z-index:4;opacity:0.05;}
  25%   {z-index:4;opacity:0.4;}
  50%   {transform: scaleX(-1); left:-650px;opacity:0.1;}
  75%   {z-index:2;opacity:0.2}
  85%   {opacity:0.1}
  100%  {z-index:4;opacity:0.05;}
}

/* Birds */

#bird-A {
  position: absolute; top: 0px; left: 0px;
  width: 100px; height: 100px;
  background: url(../img/anim/sprite-bird-A.gif) no-repeat;
  background-size: 100%;
  opacity: 0.05;
  -webkit-animation: bird-path-1 55s linear infinite;
  -moz-animation: bird-path-1 55s linear infinite;
  animation: bird-path-1 55s linear infinite;
  z-index:1;
}

#bird-B {
  position: absolute; top: 0px; left: 0px;
  width: 100px; height:100px;
  background: url(../img/anim/sprite-bird-B.gif) no-repeat;
  background-size: 100%;
  opacity: 0.05;
  -webkit-animation: bird-path-2 35s linear infinite;
  -moz-animation: bird-path-2 35s linear infinite;
  animation: bird-path-2 35s linear infinite;
   z-index:1;
 }

#bird-C{
  position: absolute; top: 0px; left: 0px;
  width: 100px; height:100px;
  background: url(../img/anim/sprite-bird-B.gif) no-repeat;
  background-size: 100%;
  opacity: 0.05;
  -webkit-animation: bird-path-3  25s linear infinite;
  -moz-animation: bird-path-3 25s linear infinite;
  animation: bird-path-3 25s linear infinite;
  z-index:1;
}



/* workaround for Safari bug with animated GIFs, see script.js for documentation */
.browser-webkit #bird-A.restart {
  background-image: url(../img/anim/sprite-bird-A.gif);
}
.browser-webkit #bird-B.restart {
  background-image: url(../img/anim/sprite-bird-B.gif);
}


@-webkit-keyframes bird-path-1 {
  from {
    -webkit-transform: translate3d(0px, 100px, 0) scale(0.8);
    opacity: .1;
  }
 40% {
    -webkit-transform: translate3d(800px, -50px, 0) scale(0.2);
        opacity: .5;
  }
  to {
    -webkit-transform: translate3d(2000px, 400px, 0) scale(1.5);
      opacity: .1;
  }
}

@-moz-keyframes bird-path-1 {
  from {
    -moz-transform: translate3d(0px, 100px, 0) scale(0.8);
    opacity: .1;
  }
 40% {
    -moz-transform: translate3d(800px, -50px, 0) scale(0.2);
        opacity: .5;
  }
  to {
    -moz-transform: translate3d(2000px, 400px, 0) scale(1.5);
      opacity: .1;
  }
}
@keyframes bird-path-1 {
  from {
    transform: translate3d(0px, 100px, 0) scale(0.8);
    opacity: .1;
  }
 40% {
    transform: translate3d(800px, -50px, 0) scale(0.2);
        opacity: .5;
  }
  to {
    transform: translate3d(2000px, 400px, 0) scale(1.5);
      opacity: .1;
  }
}

@-webkit-keyframes bird-path-2 {
    from {
    -webkit-transform: translate3d(0px, -50px, 0) scale(.8);
    opacity: .1;
  }
  20% {
    -webkit-transform: translate3d(400px, 100px, 0) scale(1.2);
    opacity: .5;
  }
  to {
    -webkit-transform: translate3d(2200px, -50px, 0) scale(0.1);
    opacity: .1;
  }
}
@-moz-keyframes bird-path-2 {
    from {
    -moz-transform: translate3d(0px, -50px, 0) scale(.8);
    opacity: .1;
  }
  20% {
    -moz-transform: translate3d(400px, 100px, 0) scale(1.2);
    opacity: .5;
  }
  to {
    -moz-transform: translate3d(2200px, -50px, 0) scale(0.1);
    opacity: .1;
  }
}
@keyframes bird-path-2 {
    from {
   transform: translate3d(0px, -50px, 0) scale(.8);
    opacity: .1;
  }
  20% {
    transform: translate3d(400px, 100px, 0) scale(1.2);
    opacity: .5;
  }
  to {
    transform: translate3d(2200px, -50px, 0) scale(0.1);
    opacity: .1;
  }
}

@-webkit-keyframes bird-path-3 {
  from {
    -webkit-transform: translate3d(2000px, 300px, 0) scale(.5);
    opacity: .1;
  }
   80% {
    -webkit-transform: translate3d(400px, 0px, 0) scale(1);
  opacity: .5;
  }
to {
    -webkit-transform: translate3d(0px, -150px, 0) scale(.5);
  opacity: .1;
  }
}
@-moz-keyframes bird-path-3 {
  from {
    -moz-transform: translate3d(2000px, 300px, 0) scale(.5);
    opacity: .1;
  }
   80% {
    -moz-transform: translate3d(400px, 0px, 0) scale(1);
  opacity: .5;
  }
to {
    -moz-transform: translate3d(0px, -150px, 0) scale(.5);
  opacity: .1;
  }
}
@keyframes bird-path-3 {
  from {
    transform: translate3d(2000px, 300px, 0) scale(.5);
    opacity: .1;
  }
   80% {
    transform: translate3d(400px, 0px, 0) scale(1);
  opacity: .5;
  }
to {
    transform: translate3d(0px, -150px, 0) scale(.5);
  opacity: .1;
  }
}


