body {
  margin-top: 40px;
  width: 14000px;
  height: 100px;
  /*background-color: #111;*/
  background-color: black;
  font-size: 14px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  /*overflow:hidden;*/
  /*-webkit-overflow-scrolling:touch;*/
}

.centered-text {
    text-align:center
}


/*.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0px;
  z-index: 1030;
  margin-bottom: 200px;
  margin-top: 30px;
  min-height: 200px;
}*/

/*div, p, a, li, td { -webkit-text-size-adjust:none; }
*/

/*.navbar .container { min-height: 83px; }*/



/*@media (min-width: $navbarCollapseWidth + 1) {
  .nav-collapse.collapse {
      height: auto !important;
      overflow: visible !important;
  }
}*/

.star {
  background: url('../img/star2013.png') no-repeat;
  background-size: 250px;
  position: fixed;
  width: 100%;
  height: 40px;
  margin-top: 0px;
  margin-left: 10px;
  z-index: 2;
}

/*.borderbanner {
  background: url('../img/wavetop.png') top left repeat-x;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top:0px;
  margin-left: 0px;
  z-index: 10000;
}


.borderbannerbottom {
  background: url('../img/wavebottom.png') top left repeat-x;
  position: fixed;
  top: 1010px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}*/

.navbar .brand, .navbar .nav > li > a {
text-shadow: none;
color: #C0C0C0;
}

.navbar .brand, .navbar .nav > li > a:hover{
text-shadow: none;
color: #fff;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #8CBFF7;
  background-color: inherit;
  text-shadow: none;
}

/*white borders

/*body{
  background-color: white;
}
.borderbanner {
  background: url('../img/wavetopwhite.png') top left repeat-x;
}
.borderbannerbottom {
  background: url('../img/wavebottomwhite.png') top left repeat-x;
}*/

@font-face {
    font-family: 'melany_laneregular';
    src: url('../fonts/melanylane-webfont.eot');
    src: url('../fonts/melanylane-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/melanylane-webfont.woff') format('woff'),
         url('../fonts/melanylane-webfont.ttf') format('truetype'),
         url('../fonts/melanylane-webfont.svg#melany_laneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



.navbar .brand {
  font-family: 'melany_laneregular';
  text-align: center;
  font-size: 30px;
}

.container {
  margin-right: auto;
  margin-left: 100px;
}

.navbar-fixed-top{
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          z-index: 2;
}


 .navbar {
    font-family: 'Maiden Orange', Georgia, serif;
    font-size: 1.2em;
    background: black;
  }

.navcontainer {
  margin-left: 50px;
}

  h1, h2 {
    font-weight: normal;
    line-height: 1em
  }

  h1 {
    font-family: 'melany_laneregular', Georgia, serif;
    font-size: 5em;
    color: white;
    /*margin-left: 20px;*/
  }




  h2 {
    font-family: 'Maiden Orange', Georgia, serif;
    font-size: 2em;
    /*color: #8CBFF7;*/

  }

  a {
    color: #8CBFF7;
  }


.page {
    float: left;
    display: block;
    height: 1000px;
    width: 2000px;
    position: relative;
  }

.pageinner {
  width: 940px;
  margin-left: 50px;
  margin-top: 80px;
  margin-bottom: auto;
  margin-right: auto;
}

  @media (max-width: 788px) {
    .pageinner {
      margin-top: 50px;
      margin-left: 25px;
    }
    h1 {
      font-size: 3em;
    }

    .navbar .nav > li > a {
      padding: 5px 10px 5px;
    }

   }

  @media (max-width: 609px) {
    .pageinner {
      /*margin-top: 75px;*/
      margin-left: 15px;
    }
    h1 {
      font-size: 3em;
    }

    .navbar {
    font-family: 'Maiden Orange', Georgia, serif;
    font-size: 0.8em;
    background: black;
    line-height: 1em;
    }

    .navbar {
    font-family: 'Maiden Orange', Georgia, serif;
    font-size: 0.9em;
    background: black;
    line-height: 1em;
    }

    .navbar .nav > li > a {
      padding: 0px 5px 5px 5px;
    }

    .navcontainer {
    margin-left: 10px;
    }

    .star {
      background: none;
    }



  }



#home {
  background: url('../img/ship.jpg') bottom left  no-repeat;
}

#home h2 {
  color: #218099;
}

.homecontent {
  margin-left: 450px ;
  margin-top: 210px;
}



#about {
  background: url('../img/boats.jpg') bottom left  no-repeat;
  width: 2000px;
}

 /*#about h2 {
  color: #005580;
}*/

#about .pageinner {
  width: 1280px;
}


#gettinghere {
  background: url('../img/waves.jpg') bottom left  no-repeat;
  color: #333;
}


#accommodations {
  background: url('../img/truro.jpg') bottom left  no-repeat;
}

#faq {
  background: url('../img/tile.png') bottom left repeat;
}

#faq h1 {
 color: #6C4D4D;

}

#faq h2 {
 color: #46BDF7;
}


#photos {
  background: url('../img/rhinos.jpg') bottom left  no-repeat;;
}

#registry {
  background: url('../img/plane.jpg') bottom left  no-repeat;;
}

